openapi: 3.0.0
info:
  title: Todo REST API
  description: REST API for managing todos and todo items
  version: "1.0.0"

servers:
  - url: http://localhost:3000/api/v1

components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization

security:
  - TokenAuth: []

paths:

  /signup:
    post:
      summary: User signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
      responses:
        "201":
          description: User created

  /auth/login:
    post:
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Login successful

  /auth/logout:
    get:
      summary: User logout
      responses:
        "200":
          description: Logged out

  /todos:
    get:
      summary: List all todos
      responses:
        "200":
          description: List of todos

    post:
      summary: Create a new todo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
      responses:
        "201":
          description: Todo created

  /todos/{id}:
    get:
      summary: Get a todo
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Todo found

    put:
      summary: Update a todo
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Todo updated

    delete:
      summary: Delete a todo
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Todo deleted

  /todos/{id}/items:
    post:
      summary: Create todo item
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "201":
          description: Item created

  /todos/{id}/items/{iid}:
    get:
      summary: Get todo item
      parameters:
        - name: id
          in: path
          required: true
        - name: iid
          in: path
          required: true
      responses:
        "200":
          description: Item found

    put:
      summary: Update todo item
      responses:
        "200":
          description: Item updated

    delete:
      summary: Delete todo item
      responses:
        "204":
          description: Item deleted
